html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a:hover,
.nav-item .btn-link:hover {
    color: lime !important;
}

.dropdown-item:active:focus {
    color: #ffffff !important;
    background-color: darkgreen;
}

@media screen and (max-width: 575px) {
    header img {
        display: none;
    }
}
