html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a:hover,
.nav-item .btn-link:hover {
    color: lime !important;
}

.dropdown-item:active:focus {
    color: #ffffff !important;
    background-color: darkgreen;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.btn-warning,
.alert-warning {
    background-color: #d3a10b;
}

.btn-success,
.alert-success {
    background-color: #29A829;
}

@media screen and (max-width: 575px) {
    header img {
        display: none;
    }
}
