@model ErrorViewModel
@{
    this.ViewData["Title"] = "Error";
}

<h1 class="text-danger text-center">Error @this.Model.StatusCode!</h1>
<h2 class="text-danger text-center">@this.Model.ExceptionMessage</h2>