@using EasyRank.Web.Areas.Admin.Models.User;
@model ActionUserViewModel
@{
	this.ViewData["Title"] = "Remove Admin User";
}

<h3>@this.ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert" style="text-shadow: rgb(24 26 27 / 30%) 0px 0px 1px;">
	<h4 class="alert-heading">Warning!</h4>
	<p>
		<strong>This will turn the user into a normal user revoking their full access to the website!</strong>
	</p>
</div>

<div>
	<form method="post">
		<div class="form-floating">
			<input asp-for="Username" style="cursor: not-allowed;" class="form-control" aria-required="true" value="@this.Model.Username" disabled />
			<label asp-for="Username" class="form-label"></label>
		</div>
		<input type="hidden" asp-for="Username" value="@this.Model.Username" />
		<input type="hidden" asp-for="Id" value="@this.Model.Id" />
		<button class="w-100 btn btn-lg btn-danger" type="submit">Remove this admin user</button>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}