@model DeleteAccountViewModel
@{
	this.ViewData["Title"] = "Delete Account";
	this.ViewData["ActivePage"] = ManageNavPages.Index;
	this.Layout = "_AccountLayout";
}

<h3>@this.ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert" style="text-shadow: rgb(24 26 27 / 30%) 0px 0px 1px;">
	<h4 class="alert-heading">Warning!</h4>
	<p>
		<strong>This will permanently remove your account, and this cannot be recovered.</strong>
	</p>
</div>

<div>
	<form id="delete-user" method="post">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-floating">
			<input asp-for="Password" placeholder="holder" class="form-control" autocomplete="current-password" aria-required="true" />
			<label asp-for="Password" class="form-label"></label>
			<span asp-validation-for="Password" class="text-danger"></span>
		</div>
		@*        @if (this.Model.RequirePassword)
        {
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }*@
		<button class="w-100 btn btn-lg btn-danger" type="submit">Close and delete my account</button>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}