@model VerifyEmailViewModel

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="row">
	<div class="col-md-12">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-floating">
				<input asp-for="Email" class="form-control" aria-required="true" placeholder="placeholder"/>
				<label asp-for="Email" class="form-label"></label>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<button type="submit" class="w-100 btn btn-lg btn-primary">@this.ViewData["ButtonText"]</button>
		</form>
	</div>
</div>