@model LoginViewModel
@{
    this.ViewData["Title"] = "Log in";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <section>
            <form id="account" method="post">
                <h2 class="text-center">Use an account to log in.</h2>
                <hr />
                <input type="hidden" asp-for="ReturnUrl" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Email" placeholder="holder" class="form-control bg-dark text-bg-light" autocomplete="email" aria-required="true" />
                    <label asp-for="Email" class="text-light"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
	                <input asp-for="Password" placeholder="holder" class="form-control bg-dark text-bg-light" autocomplete="new-password" aria-required="true" />
	                <label asp-for="Password" class="text-light"></label>
	                <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <a asp-controller="Account" asp-action="Register" style="display: inline-block;" class="text-warning">Don't have an account? Register now!</a><br/>
                <a asp-controller="Account" asp-action="VerifyEmail" style="display: inline-block;" class="text-warning">Resend verification email</a><br/>
                <a asp-controller="Account" asp-action="ForgotPassword" style="display: inline-block;" class="text-warning mb-3">Forgot your password?</a>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
