@{
    this.ViewData["Title"] = "Reset Password Confirmation";
}

<h1>@this.ViewData["Title"]</h1>
<div class="alert alert-success alert-dismissible" role="alert" style="text-shadow: rgb(24 26 27 / 30%) 0px 0px 1px;">
	Your password has been reset. Please <a asp-controller="Account" asp-action="Login">click here to log in</a>.
</div>
