@model ResetPasswordViewModel
@{
    this.ViewData["Title"] = "Reset Password";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Code" value="@this.Model.Code" type="hidden" />
            <div class="form-floating">
                <input asp-for="Email" class="form-control" placeholder="holder" aria-required="true" />
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" class="form-control" placeholder="holder" aria-required="true" />
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="PasswordConfirm" class="form-control" placeholder="holder" aria-required="true" />
                <label asp-for="PasswordConfirm" class="form-label"></label>
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
