@model VerifyEmailViewModel
@{
	this.ViewData["Title"] = "Resend Email Confirmation";
	this.ViewData["ButtonText"] = "Resend";
}

@if (this.TempData.ContainsKey("StatusMessage"))
{
	<div class="alert alert-success" role="alert" style="text-shadow: rgb(24 26 27 / 30%) 0px 0px 1px;">
		@this.TempData["StatusMessage"]
	</div>
}

@await this.Html.PartialAsync("_ResetAccountFormPartial", this.Model)

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}