@{
    ViewData["Title"] = "Main Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EasyRank!</h1>
    <p>Your <strong>one</strong> place for ranking movies of <strong>all</strong> types!</p>
</div>
